<div class="row"><div class="container"><button id="zoom-in" style="margin-right: 8px" class="btn btn-default">Zoom In</button><button id="zoom-out" style="margin-right: 8px" class="btn btn-default">Zoom Out</button><button id="update-figure" style="margin-right: 8px" class="btn btn-primary">Update Figure</button><button id="update-function" style="margin-right: 8px" class="btn btn-primary">Update Function</button><button id="clear-figure" style="margin-right: 8px" class="btn btn-danger">Clear Figure</button><button id="grid-btn" style="margin-right: 8px" class="btn btn-info">Grid</button><button id="axis-btn" style="margin-right: 8px" class="btn btn-info">Axis</button><button id="tip-btn" style="margin-right: 8px" class="btn btn-info">Tip</button></div></div><div class="example"><div class="container"><div class="row"><div class="col-md-6"><div class="comment"><h3>Shape Type</h3>
<p>The required parameters are:</p><ul>
<li><code>graphType: &#39;shape&#39;</code></li>
<li><code>shapeType: &#39;rect&#39;</code> (string) possible values: rect | circle | text |</li>
<li><p><code>shapes</code> shape data object to draw</p><ul>
<li><code>shapeType = rect</code><ul>
<li><code>shapes.w</code> (number) width</li>
<li><code>shapes.h</code> (number) height</li>
<li><code>shapes.x</code> (number) x position</li>
<li><code>shapes.y</code> (number) y position</li>
<li><code>shapes.color</code> (string) possible values: rgb | hexa | name color</li>
<li><code>shapes.rotation</code> (string) deg values</li>
</ul>
</li>
</ul>
</li>
</ul>
</div><div class="code"><pre><code class="javascript">instance = functionPlot({
  target: '#shape-rect-function',
  axis: false,
  grid: true,
  xAxis: {
    label: 'x - axis',
    scale: 'linear',
    domain: {
      initial: [-10, 10],
      type: 'discrete'
    }
  },
  data: [{
    shape: {
      w : 6.0,
      h : 3.0,
      x : 0,
      y : 0,
      fill :"red",
      stroke: "#7f8c8d",
      rotation : -45
    },
    graphType: 'shape',
    shapeType: 'rect'
  }]
})</code></pre></div></div><div class="col-md-6 center-block demos"><span id="shape-rect-function" class="graph"></span></div></div></div></div><div class="example"><div class="container"><div class="row"><div class="col-md-6"><div class="comment"><ul>
<li><code>Function</code></li>
</ul>
</div><div class="code"><pre><code class="javascript">instanceFunction = functionPlot({
  title: 'y = x * x',
  target: '#quadratic-with-options',
  width: 580,
  height: 400,
  disableZoom: true,
  xAxis: {
    label: 'x - axis',
    domain: [-6, 6]
  },
  yAxis: {
    label: 'y - axis'
  },
  conj: {
    radio: 0.1,
    baseDom: 'R',
    baseCod: 'Z', 
    cod: 'Func',
    dom: 'Func',
    sets: {
      fcod: function (x) {
        // scope.x = Number
        return (0 <= x);
      },
      fdom: function (x) {
        // scope.x = Number
        return (0 <= x);
      }
    }
  },
  data: [{
    fn: 'x^2'
  }]
})</code></pre></div></div><div class="col-md-6 center-block demos"><span id="quadratic-with-options" class="graph"></span></div></div></div></div><div class="example"><div class="container"><div class="row"><div class="col-md-6"><div class="comment"><ul>
<li><code>shapeType = circle</code><ul>
<li><code>shapes.r</code> (number) circle radio</li>
<li><code>shapes.x</code> (number) x position</li>
<li><code>shapes.y</code> (number) y position</li>
<li><code>shapes.color</code> (string) possible values: rgb | hexa | name color</li>
<li><code>shapes.rotation</code> (string) deg values</li>
</ul>
</li>
</ul>
</div><div class="code"><pre><code class="javascript">functionPlot({
  target: '#shape-circle-function',
  xAxis: {
    label: 'x - axis',
    scale: 'linear',
    domain: {
      initial: [-10, 10],
      type: 'discrete'
    }
  },
  data: [{
    shape: {
      r : 2.0,
      x : -2.0,
      y : 0,
      fill :"#2980b9",
      stroke: "#ecf0f1",
      rotation : 0.0
    },
    graphType: 'shape',
    shapeType: 'circle'
  }]
})</code></pre></div></div><div class="col-md-6 center-block demos"><span id="shape-circle-function" class="graph"></span></div></div></div></div><div class="example"><div class="container"><div class="row"><div class="col-md-6"><div class="comment"><ul>
<li><code>shapeType = text</code><ul>
<li><code>shapes.text</code> (string) text to draw</li>
<li><code>shapes.size</code> (string) font size</li>
<li><code>shapes.x</code> (number) x position</li>
<li><code>shapes.y</code> (number) y position</li>
<li><code>shapes.color</code> (string) possible values: rgb | hexa | name color</li>
<li><code>shapes.rotation</code> (string) deg values</li>
</ul>
</li>
</ul>
</div><div class="code"><pre><code class="javascript">functionPlot({
  target: '#shape-text-function',
  xAxis: {
    label: 'x - axis',
    scale: 'linear',
    domain: {
      initial: [-10, 10],
      type: 'discrete'
    }
  },
  data: [{
    shape: {
      text:"Here goes the text",
      size: 24,
      x : -3.5,
      y : 0,
      fill :"#27ae60",
      rotation : -90
    },
    graphType: 'shape',
    shapeType: 'text'
  }]
})</code></pre></div></div><div class="col-md-6 center-block demos"><span id="shape-text-function" class="graph"></span></div></div></div></div><div class="example"><div class="container"><div class="row"><div class="col-md-6"><div class="comment"><p>New parameters for polyline point graphics:</p><ul>
<li><code>polylineType</code> (string) possible values: line | polygon</li>
<li><code>rotation</code> (string) deg values</li>
</ul>
</div><div class="code"><pre><code class="javascript">functionPlot({
  target: '#shape-polyline-function',
  xAxis: {
    label: 'x - axis',
    scale: 'linear',
    domain: {
      initial: [-10, 10],
      type: 'discrete'
    }
  },
  data: [{
    points: [
      [-10,-2],
      [0,-4],
      [2,6],
      [15,-10]
    ],
    color :"orange",
    rotation : -90,
    fnType: 'points',
    polylineType : "line",
    graphType: 'polyline',
  },{
    points: [
      [-8,3],
      [-6,1],
      [-4,2],
      [-6,6]
    ],
    color :"green",
    rotation : 0,
    boundingBox: true,
    fnType: 'points',
    polylineType : "polygon",
    graphType: 'polyline',
  }]
})</code></pre></div></div><div class="col-md-6 center-block demos"><span id="shape-polyline-function" class="graph"></span></div></div></div></div><div class="example"><div class="container"><div class="row"><div class="col-md-6"><div class="comment"><h3>Discrete Domain</h3>
<p>The function $y = sin(x)$ is evaluated with integer values inside the range.</p><p>The required parameters are:</p><ul>
<li><code>graphType: &#39;scatter&#39;</code></li>
<li><code>xAxis</code> an object which contain info about the domain<ul>
<li><code>xAxis.type</code> (string) possible values: discrete | real</li>
</ul>
</li>
</ul>
<p>Also, we add new &quot;color&quot; property for tip element. </p><ul>
<li><code>tip.color</code> (string) possible values: rgb | hexa | name color</li>
</ul>
</div><div class="code"><pre><code class="javascript">functionPlot({
  target: '#built-in-eval-function',
  tip: {
    color: 'green'
  },
  xAxis: {
    label: 'x - axis',
    scale: 'linear',
    domain: {
      initial: [-4, 4],
      type: 'discrete'
    },
    yAxis: {
      domain: [-4, 4] 
    },
  

  },
  conj:[
    {
     radio: 2, 
     baseDom: 'Z',
     dom: 'Z', 
     baseCod: 'Z',
     cod: 'Z',
     sets: {
       fdom:'Z',
       fcod: 'Z'}
    },
  {
    radio: 2, 
    baseDom: 'Z',
    dom: 'Func', 
    baseCod: 'Z',
    cod: 'Func',
    sets: {
      fdom:function (x) {
             return (2 <= x);
      },
      fcod: function (x) {
        return (0 <= x && x <= 4);
       }}
    },
    {
        radio: 0.3, 
        baseDom: 'R',
        dom: 'R', 
        baseCod: 'R',
        cod: 'R',
        sets: {
          fdom:'R',
          fcod:'R'}
    },
      {
                radio: 2, 
                baseDom: 'Z',
                dom: 'Func', 
                baseCod: 'Z',
                cod: 'Z',
                sets: {
                  fdom:function (x) {
                    return (x <= 0);
                   },
                  fcod:'Z'}
      },
      {
                    radio: 0.3, 
                    baseDom: 'R',
                    dom: 'R', 
                    baseCod: 'R',
                    cod: 'R',
                    sets: {
                      fdom:'R',
                      fcod: 'R'}
      },
      {
        radio: 2, 
        baseDom: 'Z',
        dom: 'Func', 
        baseCod: 'Z',
        cod: 'Z',
        sets: {
          fdom:function (x) {
            return (x <= 0);
           },
          fcod:'Z'}
      }           
  ],
  data: [{
    graphType: 'scatter',
          fn: function (scope) {
      var x = scope.x
      //return Math.round(x);
      return (x - 4)
    },
    id:1,
    color:'red'
  },{graphType: 'polyline',
     id: 2,
     fn: function (scope) {
      var x = scope.x
      //return Math.round(x);
      return (x * x * x)
    },      color:'blue'
  },
    {graphType: 'scatter',
    id: 3,
    fn: function (scope) {
     var x = scope.x
     //return Math.round(x);
     return (x * x)
   },color:'green' },{
    graphType: 'polyline',
          fn: function (scope) {
      var x = scope.x
      //return Math.round(x);
      return Math.cos(x)
    },
    id:4,color:'orange'
  },{
    graphType: 'scatter',
          fn: function (scope) {
      var x = scope.x
      //return Math.round(x);
      return 2/x
    },
    id:5,color:'black'
  }]
})

functionPlot({
  target: '#implicit-complex',
  xAxis: {
    label: 'x - axis',
    scale: 'linear',
    domain: {
      initial: [-4, 4],
      type: 'discrete'
    },
    yAxis: {
      domain: [-4, 4] 
    },
  

  },
  conj: [{
    radio: 2,
    baseDom: 'Z',
    baseCod: 'Z', 
    cod: 'Func',
    dom: 'Numer',
    sets: {
      fdom:['Lun','Mart','Mier','Juev','Vier','Saba','Dom','Lunes'],
      fcod: function (x) {
        // scope.x = Number
        return (0 <= x);
      }
    }
  }],
  data: [{
    graphType: 'scatter',
    id: 0,
    fn: function (scope) {
      var x = scope.x
      if (x == 2){ return 1}
      else if(x == 1) { return 3}
      
      //return Math.sin(x)
    }
  }]
})</code></pre></div></div><div class="col-md-6 center-block demos"><span id="built-in-eval-function" class="graph"></span><span id="implicit-complex" class="graph"></span></div></div></div></div><div class="example"><div class="container"><div class="row"><div class="col-md-6"><div class="comment"></div><div class="code"><pre><code class="javascript">})

$('#wzrd').load('partials/wzrd.html')

$('#examples').load('partials/examples.html', function () {
  $(document).trigger('markupLoaded')
  $('pre code').each(function (i, block) {
    hljs.highlightBlock(block)
  })

  $('#p-slider').on('change', function () {
    var value = +this.value;
    $('#p-slider-value').html(value)
  })

  // Zoom
  $('#zoom-in').click(function() {
    instance.zoomIn();
  });
  $('#zoom-out').click(function() {
    instance.zoomOut();
  });

  // Update Figure Graph
  $('#update-figure').click(function() {
    console.log('Instance', instance);
    instance = functionPlot({
      target: '#shape-rect-function',
      xAxis: {
        label: 'x - axis',
        scale: 'linear',
        domain: {
          initial: [-10, 10],
          type: 'discrete'
        }
      },
      data: [{
        shape: {
          r : 2.0,
          x : -2.0,
          y : 0,
          fill :"#2980b9",
          stroke: "#ecf0f1",
          rotation : 0.0
        },
        graphType: 'shape',
        shapeType: 'circle'
      }]
    })
  })

  // Update Function Graph
  $('#update-function').click(function() {
    instanceFunction = functionPlot({
      target: '#quadratic-with-options',
      xAxis: {
        label: 'x - axis',
        scale: 'linear',
        domain: {
          initial: [-10, 10]
        }
      },
      conj: [{
        radio: 4,
        baseDom: 'R',
        baseCod: 'R', 
        cod: 'R',
        dom: 'R'
      }], 
      data: [ {
        id:0,
        fn: 'x * x * x',
        graphType: 'interval'
        //nSamples: 1000
      }]
    })
  })

  // Clear Figure
  $('#clear-figure').click(function() {
    instance.removeAllGraphs();
  })

  // Toggle Grid
  $('#grid-btn').click(function() {
    instance.toggleGrid();
  })
  
  // Toggle Axis
  $('#axis-btn').click(function() {
    instance.toggleAxis();
  })
  
  // Toggle Tip
  $('#tip-btn').click(function() {
    instanceFunction.toggleTip();
  })
})


//$('#brcdn').load('partials/brcdn-module.html .panel.panel-primary', function () {
//  clipboard()
//})
//
//function clipboard() {
//  ZeroClipboard.config( { swfPath: "//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.swf" } )
//  var elements = [].slice.call(document.querySelectorAll('[data-clipboard-text]'))
//  var client = new ZeroClipboard(elements)
//  client.on('ready', function (event) {
//    elements.forEach(function (el) {
//      el.addEventListener('click', function (e) {
//        e.preventDefault()
//      }, false)
//    })
//    client.on('aftercopy', function (e) {
//      e.target.setAttribute('class', 'btn btn-sm btn-success')
//      setTimeout(function () {
//        e.target.setAttribute('class', 'btn btn-sm btn-primary')
//      }, 200)
//    })
//  })
//}</code></pre></div></div><div class="col-md-6 center-block demos"><span id="shape-rect-function" class="graph"></span><span id="quadratic-with-options" class="graph"></span></div></div></div></div>