<div class="example"><div class="container"><div class="row"><div class="col-md-6"><div class="comment"><h3>Discrete Domain</h3>
<p>The function $y = sin(x)$ is evaluated with integer values inside the range.</p><p>The required parameters are:</p><ul>
<li><code>graphType: &#39;scatter&#39;</code></li>
<li><code>xAxis</code> an object which contain info about the domain<ul>
<li><code>xAxis.type</code> (string) possible values: discrete | real</li>
</ul>
</li>
</ul>
<p>Also, we add new &quot;color&quot; property for tip element. </p><ul>
<li><code>tip.color</code> (string) possible values: rgb | hexa | name color</li>
</ul>
</div><div class="code"><pre><code class="javascript">functionPlot({
  target: '#built-in-eval-function',
  tip: {
    color: 'green'
  },
  xAxis: {
    label: 'x - axis',
    scale: 'linear',
    domain: {
      initial: [-4, 4],
      type: 'discrete'
    },
    yAxis: {
      domain: [-4, 4] 
    },
  

  },
  conj: {
    radio: 0.1,
    baseDom: 'R',
    baseCod: 'Z', 
    cod: 'Func',
    dom: 'Func',
    sets: {
      fcod: function (x) {
        // scope.x = Number
        return (0 <= x);
      },
      fdom: function (x) {
        // scope.x = Number
        return (0 <= x);
      }
    }
  },
  data: [{
    graphType: 'scatter',
    fn: function (scope) {
      var x = scope.x
     // return Math.round(x);
      return Math.sin(x)
    }
  }]
})

functionPlot({
  target: '#implicit-complex',
  xAxis: {
    label: 'x - axis',
    scale: 'linear',
    domain: {
      initial: [-4, 4],
      type: 'discrete'
    },
    yAxis: {
      domain: [-4, 4] 
    },
  

  },
  conj: {
    radio: 2,
    baseDom: 'Z',
    baseCod: 'Z', 
    cod: 'Numer',
    dom: 'Func',
    sets: {
      fcod:['Lun','Mart','Mier','Juev','Vier','Saba','Dom','Lunes'],
      fdom: function (x) {
        // scope.x = Number
        return (0 <= x);
      }
    }
  },
  data: [{
    graphType: 'scatter',
    fn: function (scope) {
      var x = scope.x
      return x;
      //return Math.sin(x)
    }
  }]
})</code></pre></div></div><div class="col-md-6 center-block demos"><span id="built-in-eval-function" class="graph"></span><span id="implicit-complex" class="graph"></span></div></div></div></div>