.row
  .container
    button#zoom-in.btn.btn-default(style="margin-right: 8px") Zoom In
    button#zoom-out.btn.btn-default(style="margin-right: 8px") Zoom Out
    button#update-figure.btn.btn-primary(style="margin-right: 8px") Update Figure
    button#update-function.btn.btn-primary(style="margin-right: 8px") Update Function
    button#clear-figure.btn.btn-danger(style="margin-right: 8px") Clear Figure
    button#grid-btn.btn.btn-info(style="margin-right: 8px") Grid
    button#axis-btn.btn.btn-info(style="margin-right: 8px") Axis
    button#tip-btn.btn.btn-info(style="margin-right: 8px") Tip
each c in comments
  .example
    .container
      .row
        .col-md-6
          .comment!= c.comment
          - if (c.experimental)
            .experimental
              b Experimental Feature:
              span it might change without any further notice
          .code
            pre
              code.javascript!= c.code
        .col-md-6.center-block.demos
          each id in c.ids
            span.graph(id=id)
          - if (c.additionalDOM)
            div!= c.additionalDOM
