.row
  .container
    button#zoom-in.primary(style="margin-right: 8px") ZOOM IN!
    button#zoom-out.primary(style="margin-right: 8px") ZOOM OUT!
    button#update-figure.primary(style="margin-right: 8px") UPDATE FIGURE!
    button#update-function.primary(style="margin-right: 8px") UPDATE FUNCTION!
    button#clear-figure.primary(style="margin-right: 8px") CLEAR FIGURE!
each c in comments
  .example
    .container
      .row
        .col-md-6
          .comment!= c.comment
          - if (c.experimental)
            .experimental
              b Experimental Feature:
              span it might change without any further notice
          .code
            pre
              code.javascript!= c.code
        .col-md-6.center-block.demos
          each id in c.ids
            span.graph(id=id)
          - if (c.additionalDOM)
            div!= c.additionalDOM
